.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
  font-family: "Helvetica", sans-serif;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-control {
  z-index: 1000;
}
